<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.body %></td>
        <td><%= note.patient_id %></td>
        <td><%= link_to 'Show', patient_note_path(note.patient_id,note) %></td>
        <td><%= link_to 'Edit', edit_patient_note_path(note.patient_id,note) %></td>
        <td><%= link_to 'Destroy', patient_note_path(note.patient_id,note), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_patient_note_path %>
