<%= form_with(model: [@patient, @medical_record], local: true) do |form| %>
  <% if medical_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medical_record.errors.count, "error") %> prohibited this medical_record from being saved:</h2>

      <ul>
        <% medical_record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :patient_id, 'Please Enter Patient ID: ' %>
    <%= form.text_field :patient_id %>
  </div>
<div class="form-group">
  <p style="border: 2px solid black; padding:5px; width:50%;"> Are you Allergic to any of the following?</p>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row"></th>
        <td><%= form.label :aspirin %></td>
        <td><%= form.check_box :aspirin %></td>
        </tr>
        <tr>
          <th scope="row"></th>
            <td>  <%= form.label :codine %></td>
            <td><%= form.check_box :codine %></td>
        </tr>
        <tr>
          <th scope="row"></th>
            <td><%= form.label :penicillin %></td>
            <td><%= form.check_box :penicillin %></td>
        </tr>
        <tr>
          <th scope="row"></th>
            <td><%= form.label :local_anesthesia, "Local Anesthetics" %></td>
            <td><%= form.check_box :local_anesthesia %></td>
        </tr>
        <tr>
          <th scope="row"></th>
            <td><%= form.label :acrylic %></td>
            <td><%= form.check_box :acrylic %></td>
        </tr>
        <tr>
          <th scope="row"></th>
            <td><%= form.label :latex %></td>
            <td><%= form.check_box :latex %></td>
        </tr>
        </tbody>
        </table>

</div>
<div class="form-group">
  <p style="border: 2px solid black; padding:5px; width:50%;">Do you have, or have you had any of the following</p>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row"></th>
          <td><%= form.label :aids, "AIDS/HIV Positive" %></td>
          <td><%= form.check_box :aids %></td>
      </tr>
      <tr>
        <th scope="row"></th>
          <td><%= form.label :alzhimers, "Alzheimer's Disease" %></td>
          <td><%= form.check_box :alzhimers %></td>
      </tr>

      <tr>
        <th scope="row"></th>
          <td><%= form.label :asthma %></td>
          <td><%= form.check_box :asthma %></td>
      </tr>

      <tr>
        <th scope="row"></th>
          <td><%= form.label :blood_disease, "Blood Disease" %></td>
          <td><%= form.check_box :blood_disease %></td>
      </tr>

      <tr>
        <th scope="row"></th>
          <td><%= form.label :cancer %></td>
          <td><%= form.check_box :cancer %></td>
      </tr>

      <tr>
        <th scope="row"></th>
          <td><%= form.label :chest_pains, "Chest Pains" %></td>
          <td><%= form.check_box :chest_pains %></td>
      </tr>

      <tr>
        <th scope="row"></th>
          <td><%= form.label :diabetes %></td>
          <td><%= form.check_box :diabetes %></td>
      </tr>

      <tr>
        <th scope="row"></th>
        <td><%= form.label :drug_addiction, "Drug Addiction" %></td>
        <td><%= form.check_box :drug_addiction %></td>
      </tr>

      <tr>
        <th scope="row"></th>
          <td><%= form.label :injuries, "Have you had any serious injuries?" %></td>
          <td><%= form.check_box :injuries %></td>
      </tr>
    </tbody>
    </table>
  </div>

  <div class="form-group">

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><%= form.label :comments %></span>
    </div>
    <%= form.text_area :comments %>
  </div>
  </div>

  <div class="actions">
    <%= form.submit 'Create Medical Record', class:"btn btn-success" %>
  </div>
<% end %>
