<p id="notice"><%= notice %></p>

<p>
  <strong>Aspirin:</strong>
  <%= @medical_record.aspirin %>
</p>

<p>
  <strong>Codine:</strong>
  <%= @medical_record.codine %>
</p>

<p>
  <strong>Penicillin:</strong>
  <%= @medical_record.penicillin %>
</p>

<p>
  <strong>Local anesthesia:</strong>
  <%= @medical_record.local_anesthesia %>
</p>

<p>
  <strong>Acrylic:</strong>
  <%= @medical_record.acrylic %>
</p>

<p>
  <strong>Latex:</strong>
  <%= @medical_record.latex %>
</p>

<p>
  <strong>Aids:</strong>
  <%= @medical_record.aids %>
</p>

<p>
  <strong>Alzhimers:</strong>
  <%= @medical_record.alzhimers %>
</p>

<p>
  <strong>Asthma:</strong>
  <%= @medical_record.asthma %>
</p>

<p>
  <strong>Blood disease:</strong>
  <%= @medical_record.blood_disease %>
</p>

<p>
  <strong>Cancer:</strong>
  <%= @medical_record.cancer %>
</p>

<p>
  <strong>Chest pains:</strong>
  <%= @medical_record.chest_pains %>
</p>

<p>
  <strong>Diabetes:</strong>
  <%= @medical_record.diabetes %>
</p>

<p>
  <strong>Drug addiction:</strong>
  <%= @medical_record.drug_addiction %>
</p>

<p>
  <strong>Injuries:</strong>
  <%= @medical_record.injuries %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @medical_record.comments %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @medical_record.patient_id %>
</p>

<%= link_to 'Edit', edit_medical_record_path(@medical_record) %> |
<%= link_to 'Back', medical_records_path %>
