<%= form_with(model: [@patient,@family_history], local: true) do |form| %>
  <% if family_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(family_history.errors.count, "error") %> prohibited this family_history from being saved:</h2>

      <ul>
        <% family_history.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
    <p style="border: 2px solid black; padding:5px; width:50%;">Family History of</p>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row"></th>
        <td><%= form.label :ans, "Anesthesia Reaction" %></td>
        <td><%= form.check_box :ans %></td>
      </tr>
      <tr>
        <th scope="row"></th>
          <td><%= form.label :family_cancer, "Family Cancer" %></td>
          <td><%= form.check_box :family_cancer %></td>
      </tr>

      <tr>
        <th scope="row"></th>
          <td><%= form.label :family_breast_cancer, "Family Breast Cancer Experience" %></td>
          <td><%= form.check_box :family_breast_cancer %></td>
      </tr>
      </tbody>
      </table>
</div>
  <div class="form-group">
      <p style="border: 2px solid black; padding:5px; width:50%;"> Bleeding Disorder</p>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row"></th>
            <td><%= form.label :family_blood_disorder, "Family Blood Disorder" %></td>
            <td><%= form.check_box :family_blood_disorder %></td>
          </tr>
          <tr>
            <th scope="row"></th>
              <td><%= form.label :family_sickle_cell, "Family Sickle Cell Disease" %></td>
              <td><%= form.check_box :family_sickle_cell %></td>
          </tr>
        </tbody>
        </table
  </div>

  <div class="form-group">
      <p style="border: 2px solid black; padding:5px; width:50%;">Neurologic</p>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row"></th>
              <td><%= form.label :neurologic_problem, "Neurologic Problems" %></td>
              <td><%= form.check_box :neurologic_problem %></td>
            </tr>
            <tr>
              <th scope="row"></th>
                <td><%= form.label :family_strok, "Family Stroke" %></td>
                <td><%= form.check_box :family_strok %></td>
            </tr>
        </tbody>
      </table>
  </div>


<div class="form-group">
  <p style="border: 2px solid black; padding:5px; width:50%;">Cardiac</p>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row"></th>
          <td><%= form.label :cardiac_disorder, "Cardiac Disorder" %></td>
          <td><%= form.check_box :cardiac_disorder %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="form-group">
    <p style="border: 2px solid black; padding:5px; width:50%;">Respiratory</p>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row"></th>
            <td><%= form.label :respiratory_disease, "Respiratory Disease" %></td>
            <td><%= form.check_box :respiratory_disease %></td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="form-group">
    <p style="border: 2px solid black; padding:5px; width:50%;">GI</p>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row"></th>
            <td><%= form.label :family_birth_defect, "Family Birth Defect" %></td>
            <td><%= form.check_box :family_birth_defect %></td>
          </tr>
        </tbody>
      </table>
  </div>

  <div class="form-group">
    <p style="border: 2px solid black; padding:5px; width:50%;">Endocrine</p>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row"></th>
            <td><%= form.label :family_endocrine, "Family Endocrine Disease" %></td>
            <td><%= form.check_box :family_endocrine %></td>
          </tr>
        </tbody>
        </table>
  </div>

  <div class="field">
    <%= form.label :patient_id %>
    <%= form.text_field :patient_id %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Family History Record', class:"btn btn-success" %>
  </div>
<% end %>
