<p id="notice"><%= notice %></p>

<h1>Family Histories</h1>

<table>
  <thead>
    <tr>
      <th>Ans</th>
      <th>Family cancer</th>
      <th>Family breast cancer</th>
      <th>Family blood disorder</th>
      <th>Family sickle cell</th>
      <th>Neurologic problem</th>
      <th>Family strok</th>
      <th>Cardiac disorder</th>
      <th>Respiratory disease</th>
      <th>Family birth defect</th>
      <th>Family endocrine</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @family_histories.each do |family_history| %>
      <tr>
        <td><%= family_history.ans %></td>
        <td><%= family_history.family_cancer %></td>
        <td><%= family_history.family_breast_cancer %></td>
        <td><%= family_history.family_blood_disorder %></td>
        <td><%= family_history.family_sickle_cell %></td>
        <td><%= family_history.neurologic_problem %></td>
        <td><%= family_history.family_strok %></td>
        <td><%= family_history.cardiac_disorder %></td>
        <td><%= family_history.respiratory_disease %></td>
        <td><%= family_history.family_birth_defect %></td>
        <td><%= family_history.family_endocrine %></td>
        <td><%= family_history.patient_id %></td>
        <td><%= link_to 'Show', family_history %></td>
        <td><%= link_to 'Edit', edit_family_history_path(family_history) %></td>
        <td><%= link_to 'Destroy', family_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Family History', new_family_history_path %>
