<p id="notice"><%= notice %></p>

<h1>Family Histories</h1>

<table class="table table-sm table-light">
  <thead>
    <tr>
      <th scope="col">Anesthesia Reaction</th>
      <th scope="col" >Family Cancer</th>
      <th scope="col">Family Breast Cancer</th>
      <th scope="col">Family Blood Disorder</th>
      <th scope="col">Family Sickle Cell Disorder</th>
      <th scope="col">Neurologic Problem</th>
      <th scope="col" >Family Stroke</th>
      <th scope="col">Cardiac Disorder</th>
      <th scope="col">Respiratory Disease</th>
      <th scope="col">Family Birth Defect</th>
      <th scope="col">Family Dndocrine</th>
      <th scope="col">Patient ID: </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @family_histories.each do |family_history| %>
      <tr>
        <td><%= family_history.ans %></td>
        <td><%= family_history.family_cancer %></td>
        <td><%= family_history.family_breast_cancer %></td>
        <td><%= family_history.family_blood_disorder %></td>
        <td><%= family_history.family_sickle_cell %></td>
        <td><%= family_history.neurologic_problem %></td>
        <td><%= family_history.family_strok %></td>
        <td><%= family_history.cardiac_disorder %></td>
        <td><%= family_history.respiratory_disease %></td>
        <td><%= family_history.family_birth_defect %></td>
        <td><%= family_history.family_endocrine %></td>
        <td><%= family_history.patient_id %></td>
        <td><%= link_to 'Show', patient_family_history_path(family_history.patient_id, family_history), class:"btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_patient_family_history_path(family_history.patient_id, family_history), class:"btn btn-primary" %></td>
        <td><%= link_to 'Destroy', patient_family_history_path(family_history.patient_id,family_history), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Family History', new_patient_family_history_path, class:"btn btn-light" %>
