<p id="notice"><%= notice %></p>

<p>
  <strong>Ans:</strong>
  <%= @family_history.ans %>
</p>

<p>
  <strong>Family cancer:</strong>
  <%= @family_history.family_cancer %>
</p>

<p>
  <strong>Family breast cancer:</strong>
  <%= @family_history.family_breast_cancer %>
</p>

<p>
  <strong>Family blood disorder:</strong>
  <%= @family_history.family_blood_disorder %>
</p>

<p>
  <strong>Family sickle cell:</strong>
  <%= @family_history.family_sickle_cell %>
</p>

<p>
  <strong>Neurologic problem:</strong>
  <%= @family_history.neurologic_problem %>
</p>

<p>
  <strong>Family strok:</strong>
  <%= @family_history.family_strok %>
</p>

<p>
  <strong>Cardiac disorder:</strong>
  <%= @family_history.cardiac_disorder %>
</p>

<p>
  <strong>Respiratory disease:</strong>
  <%= @family_history.respiratory_disease %>
</p>

<p>
  <strong>Family birth defect:</strong>
  <%= @family_history.family_birth_defect %>
</p>

<p>
  <strong>Family endocrine:</strong>
  <%= @family_history.family_endocrine %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @family_history.patient_id %>
</p>

<%= link_to 'Edit', edit_family_history_path(@family_history) %> |
<%= link_to 'Back', family_histories_path %>
